html {
  min-height: 100vh;
  max-width: 100vw;
}

body {
  background-color: black;
  color: white;
  font-family: 'Lora', sans-serif;
  height: 100%;
  position: relative;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 35px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

a {
  color: cyan;
  transition: all 0.2s ease-in-out;
}

a:focus,
a:hover {
  color: blue;
  text-decoration: none;
}

.masthead .intro-body .brand-heading {
  font-size: 100px;
}

.masthead .intro-body .intro-text {
  font-size: 22px;
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url('../img/intro-bg.jpg') no-repeat bottom center scroll;
  background-color: black;
  background-size: auto;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

.text-drop {
  text-shadow: 2px 2px black;
}

.tag-line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  padding: 20px 0;
}

.display-1 {
  font-size: 1.5em;
}

.btn-circle {
  background: transparent;
  border: 2px solid white;
  border-radius: 100% !important;
  color: white;
  font-size: 26px;
  height: 55px;
  line-height: 45px;
  margin-top: 15px;
  transition: background 0.03s ease-in-out;
  width: 55px;
}

.btn-circle:focus,
.btn-circle:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}
